.settings
target
init.properties
.classpath
.project
scripts/admin
all-production-servers.txt
MANIFEST.MF
cluster-1-servers.txt
cluster-2-servers.txt
jars/antlr-2.7.7.jar
jars/asm-4.0.jar
jars/jul-to-slf4j-1.7.2.jar
jars/org.osgi.core-1.4.0.jar
jars/slf4j-api-1.7.2.jar
jars/tigase-message-archiving-1.0.0-SNAPSHOT.jar
jars/tigase-muc-2.2.0-SNAPSHOT.jar
jars/tigase-pubsub-2.2.0-SNAPSHOT.jar
jars/tigase-server.jar
jars/tigase-socks5-1.0.0-SNAPSHOT.jar
jars/tigase-stun-1.1.0-SNAPSHOT.jar
jars/tigase-utils.jar
jars/tigase-xmltools.jar
logs/**
!logs/server-info.html
config.txt
docs
installer
packages
src/main/izpack/install_copy.xml
certs/default.pem
certs/test-d.pem
certs/tls-required.com.pem
jars/tigase-archiving.jar
jars/tigase-extras.jar
jars/tigase-muc.jar
jars/tigase-pubsub.jar
jars/tigase-socks5.jar
jars/tigase-stun.jar
libs/
scripts/update-code-config.sh
etc/config-dump.properties
src/main/groovy/tigase/admin/CreateNode.groovy
src/main/groovy/tigase/admin/DeleteNode.groovy
src/main/groovy/tigase/admin/PublishItem.groovy
src/main/groovy/tigase/admin/ReloadHandlerScripts.groovy
src/main/groovy/tigase/admin/SubscribeNode.groovy
src/main/groovy/tigase/admin/UnsubscribeNode.groovy
src/main/groovy/tigase/admin/default-config.groovy
src/main/groovy/tigase/admin/room-remove.groovy
etc/tigase-http-context.xml
modules/distribution/ChangeLog
modules/distribution/License.html
modules/distribution/README
modules/distribution/package.html
etc/META-INF/maven/tigase/tigase-http-api/pom.xml
scripts/pubsub/repository_migrator.groovy
database/README.txt
database/derby-pubsub-schema-3.0.0.sql
database/mysql-pubsub-schema-3.0.0-pre-upgrade.sql
database/mysql-pubsub-schema-3.0.0.sql
database/postgresql-pubsub-schema-3.0.0.sql
database/pubsub-db-create-derby.sh
database/pubsub-db-migrate.sh
database/sqlserver-pubsub-schema-3.0.0.sql
derby.log
tigase/setup
.idea/
tigase-server.iml
/bin/
/out/
database/derby-message-archiving-schema-1.3.0.sql
database/mysql-message-archiving-schema-1.3.0.sql
database/postgresql-message-archiving-schema-1.3.0.sql
database/sqlserver-message-archiving-schema-1.3.0.sql
src/main/groovy/tigase/admin/DeleteItem.groovy
src/main/groovy/tigase/admin/ListItems.groovy
src/main/groovy/tigase/admin/ListNodes.groovy
src/main/groovy/tigase/admin/RetrieveItem.groovy
etc/installation-id
etc/*.licence*
