.settings
target
init.properties
.classpath
.project
scripts/admin
all-production-servers.txt
MANIFEST.MF
cluster-1-servers.txt
cluster-2-servers.txt
jars/**
logs/**
libs/**
!logs/server-info.html
config.txt
docs
packages
certs/default.pem
certs/test-d.pem
certs/tls-required.com.pem
scripts/update-code-config.sh
etc/config-dump.properties
distribution/ChangeLog
distribution/License.html
distribution/README
distribution/package.html
etc/META-INF/maven/tigase/tigase-http-api/pom.xml
scripts/pubsub/repository_migrator.groovy
server/database/README.txt
server/database/pubsub-*
server/database/*-pubsub-*
server/database/*-muc-*
server/database/*-message-archiving-*
server/database/*-unified-archive-*
server/database/muc-db-migrate.*derby.log
server/tigase/setup
.idea/
*.iml
/bin/
/out/
src/main/groovy/tigase/admin/DeleteItem.groovy
src/main/groovy/tigase/admin/ListItems.groovy
src/main/groovy/tigase/admin/ListNodes.groovy
src/main/groovy/tigase/admin/RetrieveItem.groovy
etc/installation-id
etc/*.licence*
documentation/text/components
documentation/devguide/text/components
distribution-docs
distribution-packages
server/logs
server/etc/acs.licence
server/etc/config-dump.properties
