.settings
target
init.properties
.classpath
.project
scripts/admin
all-production-servers.txt
MANIFEST.MF
cluster-1-servers.txt
cluster-2-servers.txt
jars/antlr-2.7.7.jar
jars/asm-4.0.jar
jars/jul-to-slf4j-1.7.2.jar
jars/org.osgi.core-1.4.0.jar
jars/slf4j-api-1.7.2.jar
jars/tigase-message-archiving-1.0.0-SNAPSHOT.jar
jars/tigase-muc-2.2.0-SNAPSHOT.jar
jars/tigase-pubsub-2.2.0-SNAPSHOT.jar
jars/tigase-server.jar
jars/tigase-socks5-1.0.0-SNAPSHOT.jar
jars/tigase-stun-1.1.0-SNAPSHOT.jar
jars/tigase-utils.jar
jars/tigase-xmltools.jar
logs
config.txt
docs
installer
packages
src/main/izpack/install_copy.xml
certs/default.pem
certs/test-d.pem
certs/tls-required.com.pem
jars/tigase-archiving.jar
jars/tigase-extras.jar
jars/tigase-muc.jar
jars/tigase-pubsub.jar
jars/tigase-socks5.jar
jars/tigase-stun.jar
libs/

